*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    color: #4b0497;
}


body {
    padding:0;
    margin: 0;
    background: linear-gradient(to right,#f7ebf3, #e84eb2 );
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto )repeat(5, 100px);
}

.calculator-grid >  button {
    cursor: pointer;
    font-size: 2rem;
    border: 2px solid #4b0497;
    outline: none;
    border-radius: 9%;
    background-color: #eaf3d0;
}

.calculator-grid > button:hover {
    background-color: #816a9b;
} 

.span-two {
    grid-column: span 2 ;
}

.output {
    grid-column: 1 / -1;
}


/* border: 2.5px solid #4b0497;
height:70px;
width: 350px;
color:  #4b0497;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: 600;
font-size:x-large */

/* 
.header {

}

.output {
    display: grid; 
    justify-content: center;
    align-items: center;
    border: 2.5px solid #4b0497;
    height:70px;
    width: 350px;
    color:  #4b0497;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size:x-large
}



.calculator-grid > button:hover {
    background-color: #4b0497;
} */